*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: gray;
}
.container{
    max-width: 1200px;
    margin: auto;
    background: #f2f2f2;
    overflow: auto;
}
.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 50vh;
    size: 70vh;
}
.gallery img{
    width: 70vh;
    height: 50vh;
    
}
.desc{
    padding: 15px;
    text-align: center;
}
footer{
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    background: #594848;
    color: white;
    font-family: Arial;
    letter-spacing: 1px;
}